@model BlackBoard.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrolledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrolledDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradulationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradulationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>

    <h3>Enrollments</h3>
    @if (this.Model.Enrolls != null)
    {
        foreach (var enroll in this.Model.Enrolls)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelEnroll => enroll.Course.CourseName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelEnroll => enroll.Course.CourseName)
            </dd>
        }
    }
    else
    {
        <h4><br />No enrollments.</h4><br/>
    }

    <h3>Student Groups</h3>
    @if (this.Model.GroupInfos != null)
    {
        foreach (var group in this.Model.GroupInfos)
        {
            <a asp-area="" asp-route-id="@group.GroupInfoId"
             asp-controller="GroupInfos" asp-action="Details">Group Number: @Html.DisplayFor(modelGI => group.GroupId)</a>
        }
    }
    else
    {
            <p><br />Not part of any groups</p>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentAuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
