@model BlackBoard.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>

    </dl>
    <h3>Enrollments</h3>
    @if (this.Model.Enrolls != null)
    {
        foreach (var enroll in this.Model.Enrolls)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelEnroll => enroll.Student.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelEnroll => enroll.Student.FirstName)
            </dd>
        }
    }
    else
    {
        <h4><br />No enrollments.</h4>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
