@model BlackBoard.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Course info</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>

    </dl>
    <h3>Enrollments</h3>
    @if (this.Model.Enrolls != null)
    {
        foreach (var enroll in this.Model.Enrolls)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelEnroll => enroll.Student.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelEnroll => enroll.Student.FirstName)
            </dd>
        }
    }
    else
    {
        <h4><br />No enrollments.</h4>
    }

    <h3>Course Content</h3>
    @if (this.Model.CourseContents != null)
    {
        foreach (var content in this.Model.CourseContents)
        {
            <a asp-area="" asp-route-id="@content.CourseContentId"
               asp-controller="CourseContents" asp-action="Details">@Html.DisplayFor(modelCC => content.ContentName)</a>
        }
    }
    else
    {
            <h4><br />No course content yet.</h4>
    }
    <h3>Course Hand ins</h3>
    @if (this.Model.Assignments != null)
    {
        foreach (var content in this.Model.Assignments)
        {
            <a asp-area="" asp-route-id="@content.AssignmentId"
               asp-controller="GroupHandins" asp-action="Index">@Html.DisplayFor(modelCC => content.AssignmentName)</a>
        }
    }
    else
    {
        <h4><br />No course content yet.</h4>
    }


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-route-id="@Model.CourseId" asp-controller="CourseContents" asp-action="Create">Create Course Content</a>

</div>
